*{
    margin: 10px ;
    padding: 10px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
/*todo mi cuerpo HTML*/
.body{
    font-family: Arial;
    padding: 10px;
    background-color: blanchedalmond;
    background-image: url("/Imagenes/chocolate.jpg");
    }

/*Mi header*/
.header{
    padding: 30px;
    text-align: center;
    background: wheat;
    height: 500px;
    border: 2px saddlebrown;
}

/*Mi nav*/
.topnav{
    overflow: hidden;
    background-color: brown;
}

.topnav a{
    float: left;
    display: block;
    color: beige;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/*Mi footer*/
.footer{
    background-color: bisque;
    text-align: center;
    color: brown;
    padding: 20px;
    margin-top: 50px;
    border-width: 400px ;
    height: 150px;
}

/*borde del formulario*/
.contact_form{
    border: 2px solid black;
    border-style: dotted;
    border-color: chocolate;
    border-width: medium;
    background-color: beige;
}